doctype 5
html(lang='en')
 head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='Yann Sagon (yann.sagon@unige.ch)')
    meta(name='copyright', content='Copyright (c) 2013 University of Geneva')
    link(rel='shortcut icon', href=urlRoot + 'images/favicon.ico')
    title Default layout
    //link(href='/bower_components/bootstrap/dist/css/bootstrap.css', rel='stylesheet')
    link(href=urlRoot + 'bower_components/bootstrap/docs/assets/css/bootstrap.css', rel='stylesheet')
    link(href=urlRoot + 'javascripts/watable/watable.css', rel='stylesheet')
 body
    
    .container
        if user
           p
            | Welcome
            = ' ' + user.username + ' '
            a(href='/logout') logout
        .bs-example
            block content
    script(src=urlRoot + 'bower_components/jquery/jquery.js')

    script(src=urlRoot + 'bower_components/bootstrap/docs/assets/js/bootstrap.min.js')
    //script(src='/bower_components/bootstrap/docs/assets/js/tab.js')

    //script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    //script(src='/bower_components/bootstrap/js/tab.js')
    script(src=urlRoot + 'javascripts/watable/jquery.watable.js')
    != "<script type='text/javascript'>"
    != "var urlRoot = \"" + urlRoot + "\""
    != "</script>"
    script.
       $( document ).ready(function() {

         var actions = {
            filter: true, //Toggle visibility
            custom: [
              $('<a href="#" class="refresh"><i class="icon-refresh"></i>&nbsp;Refresh</a>'),
            ]
         };
         var myWatable = new Array();
 
 
  
         var temp = ($('#statusTable').WATable({
                                       actions: {
            filter: true, //Toggle visibility
               custom: [
                  $('<a href="#" class="refresh"><i class="icon-refresh"></i>&nbsp;Refresh</a>').on('click', function(e){
                     e.preventDefault();
                     for(var i=0; i<myWatable.length; i++){
                        myWatable[i].update();
                     }
                  })
               ]
         },
                                       hidePagerOnEmpty: true,
                                       url: urlRoot + 'status'
                                    })).data('WATable');
         myWatable.push(temp);

         var temp = ($('#allJobsRunning').WATable({
                                       actions: {
            filter: true, //Toggle visibility
               custom: [
                  $('<a href="#" class="refresh"><i class="icon-refresh"></i>&nbsp;Refresh</a>').on('click', function(e){
                     e.preventDefault();
                     for(var i=0; i<myWatable.length; i++){
                        myWatable[i].update();
                     }
                  })
               ]
         },
                                       filter: true,
                                       url: urlRoot + 'alljobsrunning'
                                    })).data('WATable');
         myWatable.push(temp);

         var temp = ($('#allJobsPending').WATable({
            actions: {
               filter: true, //Toggle visibility
               custom: [
                  $('<a href="#" class="refresh"><i class="icon-refresh"></i>&nbsp;Refresh</a>').on('click', function(e){
                     e.preventDefault();
                     for(var i=0; i<myWatable.length; i++){
                        myWatable[i].update();
                     }
                  })
               ]
            },
            filter: true,
            url: urlRoot + 'alljobspending'
         })).data('WATable');

         myWatable.push(temp);
       });
